html {
    scroll-behavior: smooth !important;
}
body {
    color: white;
    font-family: 'Space Grotesk', sans-serif !important;
}
.v-application {
    font-family: 'Space Grotesk', sans-serif !important;
}